.step-items .column-left,
.step-items .column-right {
	position: relative;
	margin-top: 0;
	height: 100%;
	overflow: hidden scroll;
	flex-grow: 0;
	flex-shrink: 0;
}
.step-items .column-left { flex-basis: 35%; }
.step-items .column-right { flex-basis: 60%; }

/**
 * INGREDIENtS
 */
 .step-items .ingredients {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	max-height: 100%;
	overflow-y: auto;
	opacity: 0;
	transition: opacity .3s ease-in-out, transform .3s ease-in-out;
	transform: translate3d(-110%,0,0);
}
.step-items .show-ingredients .ingredients {
	opacity: 1;
	transform: none;
}

/**
 * DISHES
 */
.step-items .dishes {
	opacity: 1;
	visibility: visible;
	max-height: 100%;
	overflow-y: auto;
	transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}
.step-items .show-ingredients .dishes {
	opacity: 0;
	visibility: hidden;
}

.step-items .collection-item.dish { transition-duration: .2s; }
.step-items .dish:hover { background-color: #ffab40; }

/**
 * ITEMS
 */
.step-items .selected-items {
	max-height: calc(100% - 2rem - 36px);
	overflow-y: auto;
}

.selected-items .collection-item.item { padding-left: 20px; }
.selected-items .item.add-active { animation: fadeIn .3s linear 1; }
.selected-items .item.delete-active { animation: fadeOut .3s linear 1; }

.selected-items .item .collection-item-action .extra { transform: rotate(180deg); }

.selected-items .item-extra {
	display: block;
	margin-left: 1rem;
	font-size: .9rem;
}
.selected-items .item-extra a:hover {
	text-decoration: underline;
	cursor: not-allowed;
}

.selected-items .extra-name { margin-left: .2rem; }

.selected-items .discount-wrap {
	margin-bottom: .3rem;
	padding-bottom: .3rem;
	border-bottom: 1px solid #e0e0e0;
}
.selected-items .discount-wrap .discount { padding-left: 20px; }
