.step-summary .column-customer { flex-basis: 45%; }

.step-summary .column-basket,
.step-summary .column-customer {
	display: flex;
	flex-flow: column nowrap;
}

.step-summary .customer-card h3,
.step-summary .customer-card .card-action,
.step-summary .customer-card .collection-item { display: none; }

.step-summary .customer-card {
	width: 100%;
	flex-shrink: 0;
	margin-bottom: 1rem;
}

.step-summary .customer-card .collection-item.selected {
	display: block;
	border: none;
	background-color: transparent;
}

.step-summary .gmap {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
}



.step-summary .column-basket { flex-basis: 45%; }
.step-summary .selected-items {
	margin-top: 0;
	overflow-y: auto;
}
.step-summary .selected-items .extra a:hover {
	cursor: default;
	text-decoration: none;
}

.step-summary .order-informations { flex-shrink: 0; }

.step-summary .selected-items h2,
.step-summary .order-informations h2 { font-size: 1.3rem; }

.step-summary .order-informations .collection-item { padding-left: 20px; }

.step-summary .order-informations textarea {
	height: 1rem;
	margin-bottom: 0;
	padding-bottom: 1rem;
}
