.local-results {
	position: relative;
	flex: 0 1 75%;
	height: 100%;
}

.local-results h2 { padding: 0 25px 0 50px; }

.results .customers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: calc(100% - (1.5rem + 1.78rem + 1.424rem));
	margin: 0;
	padding: 0 25px 0 50px;
	overflow-y: scroll;
	align-items: flex-start;
}

.result-costumer {
	flex: 0 0 calc(50% - 0.5rem);
	margin-top: 0;
}

.result-costumer .collection-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.result-costumer .collection i { color: #fff; }
