.local-results {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1 75%;
	height: 100%;
	overflow: hidden;
	transition: flex .3s ease-in-out;
}

.local-results h2 {
	flex: 0 0 auto;
	visibility: visible;
	padding: 0 25px 0 50px;
	transition: visibility .3s ease-in-out;
}
.no-suggestion .local-results h2 { visibility: hidden; }

.results .customers {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0;
	padding: 0 25px 0 50px;
	max-height: 100%;
	overflow-y: auto;
	align-items: flex-start;
}

.result-costumer {
	flex: 0 0 calc(33% - 1rem);
	margin: 0 .5rem 1rem;
	transition: flex .3s ease-in-out;
}
.no-suggestions .result-costumer { flex-basis: calc(25% - 1rem); }

.result-costumer .collection-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.result-costumer .collection i { color: #fff; }
