.site-nav {
	height: 70px;
	padding: 0 100px;
}

.site-nav a i {
	height: 70px;
	line-height: 70px;
}

nav .brand-logo {
	position: relative;
	left: initial;
	height: 100%;
	transform: none;
}

.brand-logo img {
	display: block;
	width: auto;
	height: 100%;
	max-width: none;
}

nav ul a { padding: 0 .5rem; }
