.site-nav {
	height: 100px;
	padding: 0 100px;
}


nav .brand-logo {
	position: relative;
	left: initial;
	height: 100%;
	transform: none;
}

.brand-logo img {
	display: block;
	width: auto;
	height: 100%;
	max-width: none;
}
