.appears-enter {
	position: relative;
	opacity: 0.01;
	transform: translateY(10%);
}

.appears-enter.appears-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 500ms ease-in 200ms, transform 300ms ease-in;
}

.appears-leave {
	position: relative;
	opacity: 1;
}

.appears-leave.appears-leave-active {
	opacity: 0;
	transition: opacity 300ms ease-in;
	transition-delay: 0 !important;
}
