form .wrapper {
	max-width: 600px;
	margin: 0 auto;
	padding: 2em;
}


fieldset, .fieldset {
	border: none;
	padding: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.input-wrap.required label::after {
	content: "*";
	color: red;
	vertical-align: top;
}

.third { flex-basis: 32%; }
.half { flex-basis: 49%; }
.sixt { flex-basis: 66%; }
.full { flex-basis: 100%; }

.btn-wrap {
	margin-top: 1em;
	justify-content: center;
}

.input-rdo-label {
	display: block;
	margin-bottom: 1rem;
}

.input-rdo {
	display: inline-block;
	height: 2rem;
	margin: 0 1rem 20px 0;
}
.input-rdo:first-of-type { margin-left: 0; }

.input-chk input[type="radio"] + label::before,
.input-chk input[type="radio"] + label::after {
	width: 18px;
	height: 18px;
	margin: 0;
	border: 2px solid #5a5a5a;
	border-radius: 1px;
}
.input-chk input[type="radio"] + label::after {
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border: none;
	border-radius: 0;
}

.input-phone {
	font-size: 1.2rem;
	font-weight: bold;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
	padding-left: .2rem;
	padding-right: .2rem;
}
