.customer {
	display: flex;
	align-items: stretch;
}


.customer-details {
	flex: 1 0 40%;
	padding: 2rem;
	height: calc(100vh - 170px);
	overflow-x: scroll;
	transition: flex-basis .3s ease-in-out .1s;
}

aside {
	position: relative;
	flex: 0 1 0;
	height: calc(100vh - 170px);
	overflow: hidden;
	transition: flex-basis .3s ease-in-out;
}
aside.open {
	flex-basis: 60%;
	overflow-x: scroll;
}

aside .close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 100;
	display: none;
	opacity: .4;
	cursor: pointer;
	transition: opacity .2s ease-in-out;
}
aside.open .close { display: block; }
aside .close:hover { opacity: .9; }
