.customer {
	display: flex;
	align-items: stretch;
}


.customer-details {
	flex: 1 0 40%;
	padding: 0 2rem;
	min-height: calc(100vh - 170px);
	transition: flex-basis .3s ease-in-out .1s;
}

.customer-details .wrap {
	max-width: 600px;
	margin: 0 auto;
}

.customer-details h1 {
	text-align: left;
	margin-bottom: 0;
}
.customer-details h2 { margin: .5rem 0; }
.customer-details h3 { margin-top: 2rem; }

sidebar {
	position: relative;
	flex: 0 1 0;
	min-height: calc(100vh - 170px);
	transition: flex-basis .3s ease-in-out;
}
sidebar.open { flex-basis: 60%; }

sidebar .close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 50;
	display: none;
	opacity: .4;
	cursor: pointer;
	transition: opacity .2s ease-in-out;
}
sidebar.open .close { display: block; }
sidebar .close:hover { opacity: .9; }
