.customer {
	display: flex;
	align-items: stretch;
}


.customer-details {
	flex: 1 0 40%;
	padding: 0 2rem;
	min-height: calc(100vh - 170px);
	transition: flex-basis .3s ease-in-out .1s;
}

.customer-details .wrap {
	max-width: 600px;
	margin: 0 auto;
}

.customer-details h1 {
	text-align: left;
	margin-bottom: 0;
}
.customer-details h2 { margin: .5rem 0; }
.customer-details h3 { margin-top: 2rem; }

.customer-details address { position: relative; }

.customer-details .addr-actions {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.customer-details .addr-actions a {
	display: inline-block;
	margin-left: .5rem;
	padding: 0;
	line-height: 1;
	border: none;
	background-color: transparent;
}

.customer-details .addr-actions i { transition: color .2s ease-in-out; }
.customer-details .addr-actions i:hover { color: #9e9e9e; }
.customer-details .addr-actions i.direction:hover { color: #2979ff; }

sidebar {
	position: relative;
	flex: 0 1 0;
	min-height: calc(100vh - 170px);
	transition: flex-basis .3s ease-in-out;
}
sidebar.open { flex-basis: 60%; }

sidebar .close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 50;
	display: none;
	opacity: .4;
	cursor: pointer;
	transition: opacity .2s ease-in-out;
}
sidebar.open .close { display: block; }
sidebar .close:hover { opacity: .9; }
