.results {
	display: flex;
	margin: 0;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-between;
}

.results h2 {
	font-size: 1.5em;
}


.results > div { position: relative; }

.results span.badge.new::after { content: ""; }


.local-results {
	flex: 0 1 75%;
	padding: 0 25px 0 50px;
}

.results .customers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	overflow: hidden;
	align-items: flex-start;
}
