.app-wrapper {
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
}
header  {
	position: relative;
	z-index: 50;
	flex: 0 0 70px
}

main {
	height: 100%;
	flex-grow: 1;
	overflow-x: auto;
}

.page-footer {
	display: none;
	flex-grow: 0;
	padding-top: 0;
}

.page-footer .footer-copyright {
	min-height: 0;
	height: 40px;
}
