.order {
	max-width: 800px;
	margin: 2rem auto;
	padding: 1rem 2rem;
	overflow: hidden;
}

.order-header {
	display: flex;
	height: 120px;
	margin-bottom: 1.5rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid;
	align-items: center;
	justify-content: space-between;
}
.order-header .logo,
.order-header .logo img { height: 100%; }

.order-header address {
	font-style: normal;
	text-align: right;
}
.order-header address .title { font-size: 1.1rem; }

.order-info {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 1.5rem;
	padding-bottom: .5rem;
	border-bottom: 1px solid;
	align-items: flex-start;
	justify-content: space-between;
}

.order-info > .column { width: 100%; }

.order-details,
.order-customer {
	display: flex;
	flex-flow: row wrap;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	justify-content: space-between;
}

.order-details > div,
.order-customer > div { flex-basis: 49%; }

.order-qrcode { display: none; }
.order-qrcode canvas {
	width: auto !important;
	max-height: 100px;
	margin: -5px;
}

.order .selected-items { border: none; }
.order .selected-items .collection-item.item:last-child { border-width: 0; }

.order .selected-items .item-name,
.order .selected-items .item-price { font-size: 1.1rem; }

.order-amounts {
	display: flex;
	margin-top: .5rem;
	padding: 10px 20px;
	border-top: double;
	flex-flow: row wrap;
	justify-content: flex-end;
	text-align: right;
}

.order-amounts .titles { padding-right: 1rem; }
.order-amounts .amount { flex-shrink: 0; }

.order-amounts h4 {
	font-size: 1rem;
	margin: 0 0 .5rem;
}

.order-amounts .titles h3 { font-weight: bold; }
.order-amounts h3 {
	margin: 1rem 0 0;
	padding: 0;
	font-size: 1.3rem;
}

.order-amounts .greetings {
	font-size: 1.2rem;
	display: none;
	flex-basis: 100%;
	text-align: center;
}

.order-map {
	position: relative;
	width: 100%;
	height: 200px;
	margin-top: 1.5rem;
	padding-top: 1.5rem;
	border-top: solid;
}

.order .qrcode {
	width: 200px;
	height: 200px;
	margin: 2rem 1rem;
	flex-shrink: 0;
}

.order .qrcode canvas {
	width: 100% !important;
	height: 100% !important;
}

.order .gmap-wrapper .chip { bottom: 1rem; }
