.search-bar {
	position: absolute;
	top: 0;
	left: calc(50% - 20%);
	z-index: 10;
	width: 40%;
	line-height: 70px;
}

.search-bar input {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: .2em;
	font-size: 1.2em;
	font-weight: bold;
	font-variant: small-caps;
	color: #000;
	margin: .3em 0 .5em;
}
.search-bar input:placeholder-shown {
	font-weight: medium;
	color: #333;
	transition: color .3s ease-in-out;
}

.search-bar .clear-input {
	position: absolute;
	top: 50%;
	right: .5rem;
	border: none;
	padding: 0;
	display: none;
	font-size: 1.1rem;
	color: #fff;
	background-color: transparent;
	transform: translateY(-50%);
}
.search-bar .clear-input.show { display: block; }
