.search-bar {
	flex-basis: 60%;
	line-height: 100px;
	text-align: center;
}

.search-bar input {
	display: inline-block;
	width: 60%;
	text-align: center;
	padding: .2em;
	font-size: 1.2em;
	font-weight: bold;
	font-variant: small-caps;
	color: #000;
	margin: .3em 0 .5em;
}
.search-bar input:placeholder-shown {
	font-weight: medium;
	color: #333;
	transition: color .3s ease-in-out;
}
