.customer-all {
	height: calc(100vh - 170px);
	overflow-y: hidden;
}

.customer-all .customers {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-around;
	height: calc(100% - 2rem - 2rem - 1.68rem);
	padding: 0 50px 10px;
	overflow-y: scroll;
}

.customer-all .result-costumer {
	flex-basis: calc(33% - 0.5rem)
}
